### 3rd CLASS

#### Tuple

In [3]:
tup1=(1,2,3,4,5,6)
print(type(tup1))
print(tup1)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)

In [4]:
tup1=(1,2,3,4,5,6)
tup1=list(tup1)
print(tup1)
tup1.append(7)
print(tup1)
tup1=tuple(tup1)
print(type(tup1))
print(tup1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7)

In [5]:
print(tup1.count(1))

1

In [6]:
print(tup1.index(4))

3

##### Dictionary

# DICTIONARY

In [9]:
dict1={'Name':['a','b','c'],
      'age':[20,22,23],
      'atted':[55,65,75]}
print(dict1.keys())
print(dict1.values())
print(dict1.get('age'))
print(dict1.get('name'))
print(dict1.get('Name'))
print(dict1.items())
print(dict1.pop('age'))
print(dict1)
print(dict1.pop('atted'))
print(dict1)

dict_keys(['Name', 'age', 'atted'])
dict_values([['a', 'b', 'c'], [20, 22, 23], [55, 65, 75]])
[20, 22, 23]
None
['a', 'b', 'c']
dict_items([('Name', ['a', 'b', 'c']), ('age', [20, 22, 23]), ('atted', [55, 65, 75])])
[20, 22, 23]
{'Name': ['a', 'b', 'c'], 'atted': [55, 65, 75]}
[55, 65, 75]
{'Name': ['a', 'b', 'c']}

In [10]:
import numpy as np

In [11]:
dict1={'Name':['a','b','c'],
      'age':[20,22,np.nan],
      'atted':[55,65,np.nan]}
dict1['Gender']=['M','F']
print(dict1)

{'Name': ['a', 'b', 'c'], 'age': [20, 22, nan], 'atted': [55, 65, nan], 'Gender': ['M', 'F']}

In [12]:
import pandas as pd
import numpy as np

In [13]:
dict1

{'Name': ['a', 'b', 'c'],
 'age': [20, 22, nan],
 'atted': [55, 65, nan],
 'Gender': ['M', 'F']}

In [14]:
dict1={'Name':['a','b','c'],
      'age':[20,22,np.nan],
      'atted':[55,65,np.nan]}
dict1['Gender']=['M','F',np.nan]
print(dict1)

{'Name': ['a', 'b', 'c'], 'age': [20, 22, nan], 'atted': [55, 65, nan], 'Gender': ['M', 'F', nan]}

In [15]:
pd.DataFrame(dict1)

  Name   age  atted Gender
0    a  20.0   55.0      M
1    b  22.0   65.0      F
2    c   NaN    NaN    NaN

In [16]:
dict1={'Name':['a','b','c'],
      'age':[20,22,23],
      'atted':[55,65,75]}
dict1['Name']=['d','e']
print(dict1)

{'Name': ['d', 'e'], 'age': [20, 22, 23], 'atted': [55, 65, 75]}

### Boolean

In [18]:
print(3>7)

False

In [19]:
print(7>2)

True

### Sets

In [21]:
#defining set

s1={1,24,'apple','cat',3+4j}
print(s1)

{1, 'apple', 'cat', 24, (3+4j)}

In [22]:
type(s1)

set

In [23]:
#adding elements to set1
s1={1,24,'apple','cat',3+4j}
print(s1)
s1.add('AIML')
print(s1)
s1.add('dept')
print(s1)

{1, 'apple', 'cat', 24, (3+4j)}
{1, 'AIML', 'apple', 'cat', 24, (3+4j)}
{'dept', 1, 'AIML', 'apple', 'cat', 24, (3+4j)}

In [24]:
#clear
s1={1,24,'apple','cat',3+4j}
s1.clear()

In [25]:
print(s1)

set()

In [26]:
#removing elements
s1={1,24,'apple','cat',3+4j}
s1.remove('cat')
print(s1)

{1, 'apple', 24, (3+4j)}

In [27]:
#pop elements
s1={1,24,'apple','cat',3+4j}
s1.pop()
print(s1)

{'apple', 'cat', 24, (3+4j)}

In [28]:
#union 
s1={1,24,'apple','cat',3+4j}
s2={'AIML','CSE','DEPT'}
print(s1.union(s2))

{1, 'AIML', 'DEPT', 'apple', 'cat', 24, 'CSE', (3+4j)}

In [29]:
#intersection
s1={1,24,'apple','cat',3+4j}
s2={'cat',24,'AIML'}
print(s1.intersection(s2))

{24, 'cat'}

In [30]:
#difference
s1={1,24,'apple','cat',3+4j}
s2={'cat',24,'AIML'}
print(s1.difference(s2))
print(s2.difference(s1))

{1, 'apple', (3+4j)}
{'AIML'}

In [31]:
#symmetric difference
s1={1,24,'apple','cat',3+4j}
s2={'cat',24,'AIML'}
print(s1.symmetric_difference(s2))

{'AIML', 1, 'apple', (3+4j)}

### Slicing in python

In [33]:
str='CSE AIML PYTHON TRAINING'
print(str[0:25]) #slicing
print(str[::])#entire string
print(str[2])#index
print(str[2:24:3])
print(str[::-1])

CSE AIML PYTHON TRAINING
CSE AIML PYTHON TRAINING
E
EI TNRNG
GNINIART NOHTYP LMIA ESC

In [34]:
#list slicing
list1=[10,20,30,40,50,60,70,80]
print(list1[::])#entire list
print(list1)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]

In [35]:
print(list1[::-1])

[80, 70, 60, 50, 40, 30, 20, 10]

In [36]:
print(list1[2:7])

[30, 40, 50, 60, 70]

In [37]:
print(list1[4:1:-1])

[50, 40, 30]

In [38]:
print(list1[0:1])

[10]

In [39]:
#questions

In [40]:
##create a tuple
tup1=(10,20,30)
print(tup1)

(10, 20, 30)

In [41]:
#access tuple elements
tup=(5,10,15,20)
tup=list(tup)
print(tup)
print(tup[1])
tup=tuple(tup)
print(type(tup))

[5, 10, 15, 20]
10
<class 'tuple'>

In [42]:
tup.index(10)

1

In [43]:
#tup with single value and print its type
tup=(100,20)
print(type(tup))

<class 'tuple'>

In [44]:
tup1=(1,2)
tup2=(3,4)
tup1=list(tup1)
tup2=list(tup2)
tup1.extend(tup2)
print(tup1)
tup1=tuple(tup1)
tup2=tuple(tup2)
print(type(tup1))

[1, 2, 3, 4]
<class 'tuple'>

In [45]:
#unpack tuple
tup=(1,2,3)
a,b,c=tup
print(a)
print(b)
print(c)

1
2
3

In [46]:
# count 5 tup1=(5,1,5,2,5)
tup1=(5,1,5,2,5)
print(tup1.count(5))

3

In [47]:
#index value of 30 
tup1=(10,20,30,40)
print(tup1.index(30))

2

In [48]:
#list1=[1,2,3,4] into tuple
list1=[1,2,3,4]
tup=tuple(list1)
print(tup)
print(type(tup))

(1, 2, 3, 4)
<class 'tuple'>

In [49]:
#check 25 in tuple
tup1=(10,20,30,40)
print(tup1.count(25))

0

In [50]:
tup1=(10,20,30)
tup(1)==(10)

TypeError: 'tuple' object is not callable

In [51]:
#dict with name age and city
dict1={'Name':['Star','Sravya','Swetha'],
       'age':[20,21,21],
       'city':['Mancherial','Mustabad','Husnabad']}

In [53]:
import numpy as np

In [55]:
import pandas as pd

In [57]:
#dict into dataframe
dict1={'Name':['Star','Sravya','Swetha'],
       'age':[20,21,21],
       'city':['Mancherial','Mustabad','Husnabad']}
pd.DataFrame(dict1)

     Name  age        city
0    Star   20  Mancherial
1  Sravya   21    Mustabad
2  Swetha   21    Husnabad

In [59]:
#access key age from dict
print(dict1.get('age'))

[20, 21, 21]

In [61]:
#add new value
dict1={'Name':['Star','Sravya','Swetha'],
       'age':[20,21,21],
       'city':['Mancherial','Mustabad','Husnabad']}
dict1['email']=['nakshatras@gmail.com','sravya@gmail.com','swetha@gmail.com']
print(dict1)

{'Name': ['Star', 'Sravya', 'Swetha'], 'age': [20, 21, 21], 'city': ['Mancherial', 'Mustabad', 'Husnabad'], 'email': ['nakshatras@gmail.com', 'sravya@gmail.com', 'swetha@gmail.com']}

In [63]:
#change city to mumbai
dict1['city']=['Mumbai']
print(dict1)

{'Name': ['Star', 'Sravya', 'Swetha'], 'age': [20, 21, 21], 'city': ['Mumbai'], 'email': ['nakshatras@gmail.com', 'sravya@gmail.com', 'swetha@gmail.com']}

In [67]:
#16.	Remove the 'age' key
dict1.pop('age')

[20, 21, 21]

In [69]:
dict1

{'Name': ['Star', 'Sravya', 'Swetha'],
 'city': ['Mumbai'],
 'email': ['nakshatras@gmail.com', 'sravya@gmail.com', 'swetha@gmail.com']}

In [71]:
#17.	print all key-value pairs in the dictionary.
dict1.items()

dict_items([('Name', ['Star', 'Sravya', 'Swetha']), ('city', ['Mumbai']), ('email', ['nakshatras@gmail.com', 'sravya@gmail.com', 'swetha@gmail.com'])])

In [75]:
#19.	Use .get() to access keys.
print(dict1.get('Name'))
print(dict1.get('city'))
print(dict1.get('email'))

['Star', 'Sravya', 'Swetha']
['Mumbai']
['nakshatras@gmail.com', 'sravya@gmail.com', 'swetha@gmail.com']

In [77]:
#20.	Check if the key 'name' exists in the dictionary.
print(dict1.get('name'))

None

In [87]:
#21.	Create a dictionary from two lists: ['a', 'b'] and [1, 2].
keys=['a','b']
values=[1,2]
result={}
for i in range(len(keys)):
    result[keys[i]]=values[i]
print(result)

{'a': 1, 'b': 2}

In [89]:
#18.	Merge two dictionaries: dict1 = {'a':1} and dict2 = {'b':2}.
dict1={'a':1}
dict2={'b':2}
dict1.update(dict2)

In [91]:
dict1

{'a': 1, 'b': 2}

In [93]:
#22.	Create a set with values: 1, 2, 3, 2, 1 and print it.
s1={1,2,3,2,1}
s1

{1, 2, 3}

In [95]:
#23.	Add 5 to a set {1, 2, 3}.
s1.add(5)

In [97]:
s1

{1, 2, 3, 5}

In [99]:
#24.	Remove 2 from the set {1, 2, 3}.
s1.remove(2)
s1

{1, 3, 5}

In [103]:
#25.	Try to add a list [1, 2] to a set and observe the result.
s1.add([1,2])
s1

TypeError: unhashable type: 'list'

In [109]:
#26.	Find the union of {1, 2} and {2, 3}.
s1={1,2}
s2={2,3}
s1.union(s2)

{1, 2, 3}

In [111]:
#27.	Find the intersection of {1, 2, 3} and {2, 4, 5}.
s1={1,2,3}
s2={2,4,5}
print(s1.intersection(s2))

{2}

In [113]:
#28.	Check if two sets {1, 2} and {2, 1} are equal.
{1,2}=={2,1}

True

In [115]:
#29.	Use a set to remove duplicates from a list [1, 2, 2, 3, 3, 3].
list=[1,2,2,3,3,3]
print(set(list))

{1, 2, 3}

In [117]:
#30.	Check if {1, 2} is a subset of {1, 2, 3}.
{1,2}.issubset({1,2,3})

True

In [119]:
#31.	Clear all elements from a set and print it.
s1={1,2,3,4,5}
s1.clear()

In [121]:
s1

set()

In [127]:
#32.	Make 3 sets and perform all set operations on it.
s1={1,2,3,4,5}
s2={4,5,6}
s3={6,7,8,9}
#add
print(s1.add(1))
print(s1)
#remove
print(s1.remove(5))
#pop
print(s1.pop())
#clear
print(s2.clear())
#union
print(s1.union(s3))
#intersection
print(s1.intersection(s3))
#difference
print(s1.difference(s3))
#symmetric_difference
print(s1.symmetric_difference(s3))

None
{1, 2, 3, 4, 5}
None
1
None
{2, 3, 4, 6, 7, 8, 9}
set()
{2, 3, 4}
{2, 3, 4, 6, 7, 8, 9}

In [129]:
#33.	Take a string and perform all possible slicing operations(full,reverse,jumps)
str='CSE AIML PYTHON TRAINING'
print(str[0:25]) #slicing
print(str[::])#entire string
print(str[2])#index
print(str[2:24:3])
print(str[::-1])

CSE AIML PYTHON TRAINING
CSE AIML PYTHON TRAINING
E
EI TNRNG
GNINIART NOHTYP LMIA ESC

In [133]:
#34.	Take List and perform all possible slicing operations(full,reverse,jumps)
#list slicing
list1=[10,20,30,40,50,60,70,80]
print(list1[::])#entire list
print(list1)
print(list1[4:10:-1])
print(list1[::-1])
print(list1[2:7])
print(list1[0:1])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]
[]
[80, 70, 60, 50, 40, 30, 20, 10]
[30, 40, 50, 60, 70]
[10]

In [135]:
#35.	Assign a = 5, b = 10. Check if a < b and print the result.
a=5
b=10
print(a<b)

True

In [141]:
#36.	Use bool() on 0, 1, [], '', and print their results.
print(bool(0))
print(bool(1))
print(bool([]))

False
True
False

In [ ]:
#37.	Write an if statement that checks if a list is empty.
#38.	Use and, or, not operators with expressions and print results.
#39.	Use is to compare two variables pointing to the same list.
#40.	Write a function that returns True if a number is even, else False.
#41.	Check if a string is both not empty and has more than 5 characters.
#42.	Create a variable flag = True, toggle it using not operator.
#43.	Use a ternary operator to print "Adult" if age >= 18 else "Minor".
#44.	Evaluate the expression: True and False or True and explain it.